<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link href="/assets/styles.css" rel="stylesheet" />
  <style type="text/css">
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }

  </style>
  <title>{{ pageTitle }}</title>
</head>
<body>
  <header class="h-20 top-0 left-0 right-0 z-50 flex justify-between px-8 py-6 bg-white">
    <img class="h-full" src="/assets/images/logo.png" alt="logo" />
    <div>
      <a href="" class="text-secondary hover:opacity-80 transition duration-500 mr-3">
        <ion-icon name="logo-facebook" class="text-2xl"></ion-icon>
      </a>
      <a href="" class="text-secondary hover:opacity-80 transition duration-500 mr-3">
        <ion-icon name="logo-instagram" class="text-2xl"></ion-icon>
      </a>
      <a href="" class="text-secondary hover:opacity-80 transition duration-500">
        <ion-icon name="logo-youtube" class="text-2xl"></ion-icon>
      </a>
    </div>
  </header>
  <main>
    {{ content | safe }}
  </main>
    
  
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var mySwiper = new Swiper('.swiper-container', {
    // Optional parameters
    loop: true,
    spaceBetween: 50,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
  var swiper1 = new Swiper('.swiper-container1', {
      slidesPerView: 1,
      spaceBetween: 30,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      }
    });
</script> 
</body>
</html>