---
layout: base.liquid
---
<div class='container gallery mb-20 mt-20'>
  {% for item in images %}
    <a data-lightbox='mygallery' href='{{item}}'>
      <img alt='' class='rounded-2xl' src='{{item}}'>
    </a>
  {% endfor %}
</div>